// Dark Mode

// Define a custom dark mode mixin
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@include dark-mode {
	body{
		background-color: $black !important;
		background: $black !important;
		color:$white;
	}
	.top-bar,
	.top-bar ul,
	.title-bar{
		background-color: $primary-color !important;
		background: $primary-color !important;
		color:$white;
	}

}